* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f5f7fb;
}
.intro--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.intro--title {
  font-family: Karla;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
  margin-bottom: 0;
}
.intro--desc {
  margin-top: 7px;
  font-family: Inter;
  text-align: center;
  color: #293264;
}
.intro--select {
  cursor: pointer;
}
.intro--button {
  margin-top: 29px;
  font-family: Inter;
  font-weight: 500;
  line-height: 19px;
  color: #f5f7fb;
  background: #4d5b9e;
  border-radius: 15px;
  padding: 15px 28px;
  width: 193px;
  height: 52px;
  cursor: pointer;
}
.main--main {
  display: flex;
  flex-flow: column;
  padding: 20px;
  margin: 0 auto;
}
.main--button {
  width: 104px;
  height: 30px;
  background: #4d5b9e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  color: #f5f7fb;
  margin: 0 auto;
  cursor: pointer;
}

question--wrapper {
  display: flex;
  flex-direction: column;
}
.question--title,
.main--results {
  font-family: Karla;
  line-height: 19px;
  font-weight: 700;
  color: #293264;
}
.question-answer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.question--answer-btn {
  padding: 2px 10px;
  border: 0.794239px solid #4d5b9e;
  box-sizing: border-box;
  border-radius: 7.94239px;
  color: #293264;
  font-family: Inter;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  cursor: pointer;
}
.question-answer-clicked {
  background-color: #d6dbf5;
}
.question-answer-correct {
  background-color: #94d7a2;
}
.question-answer-wrong {
  background-color: #f8bcbc;
}
.question--divider {
  margin-top: 15px;
  width: 399px;
  height: 0px;
  border: 0.794239px solid #dbdef0;
}
